<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WebRoot</key>
	<string>http://api.smzdm.com</string>
	<key>Path</key>
	<dict>
		<key>HaoWu</key>
		<string>/v1/haowu/haowu_category</string>
		<key>FaXian</key>
		<string>/v1/faxian/articles</string>
		<key>V2Banner</key>
		<string>/v2/util/banner</string>
	</dict>
	<key>Params</key>
	<dict>
		<key>f</key>
		<string>iphone</string>
		<key>type</key>
		<string>youhui</string>
		<key>v</key>
		<string>6.3.2</string>
		<key>weixin</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
